<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Place your oAuthKeys for integration tests-->
    <add key="oAuthKey" value="xpsTI0pJBe0UP4PBDvxgMMjxgsAAx2yYPFaCzS0E"/>
    <add key="oAuthSecret" value="1CA8yw9YSEMdOThPibb1IVoWfVDS3KPTDynsS7WX"/>
  </appSettings>
</configuration>